.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.image-container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.product-price {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}

.pagination-container {
  margin: 3px;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.pagination {
  margin: 10px;
  padding: 10px;
  gap: 3px;
}

.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 3px;
  padding: 3px;
}
